@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  scroll-behavior: smooth;
}

@layer {
  .LayoutContainer {
    @apply max-w-7xl desktop:mx-auto mx-4;
  }
}

@font-face {
  font-family: "yekan";
  src: url("./assets/font/iranyekan/Qs_Iranyekan.ttf");
}

.toastBody {
  font-family: "Yekan", sans-serif;
  color: #10171d;
  font-size: 0.875rem !important;
}

.swiper-pagination-bullet {
  background-color: #00a693 !important;
}
.swiper-button-next,
.swiper-button-prev {
  transform: scale(0.35);
  border-radius: 50%;
  background-color: white;
  padding: 40px !important;
  color: #00a693 !important;
}

.custom-navbar header {
  width: 100% !important;
  padding-inline: 10px;
}

@media screen and (min-width: 480px) {
  .custom-navbar header {
    min-width: 100% !important;
  }
}

@media screen and (min-width: 786px) {
  .custom-navbar header {
    padding-inline: 130px;
  }
}
