@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .LayoutContainer {
    @apply max-w-7xl desktop:mx-auto mx-4;
  }
}

@font-face {
  font-family: "yekan";
  src: url("./assets/font/iranyekan/Qs_Iranyekan.ttf");
}

@font-face {
  font-family: "vazir";
  src: url("./assets/font/vazirmatn/Vazirmatn-Regular.ttf");
}

.toastBody {
  font-family: "Yekan", sans-serif;
  color: #10171d;
  font-size: 0.875rem !important;
}

.swiper-pagination-bullet {
  background-color: #00a693 !important;
}
.swiper-button-next,
.swiper-button-prev {
  transform: scale(0.35);
  border-radius: 50%;
  background-color: white;
  padding: 40px !important;
  color: #00a693 !important;
}
